@charset "UTF-8";

* {
  margin: 20px auto;
}

#container {
	width: 600px; /* 너비 */
	padding: 15px; /* 테두리와 내용 사이의 여백 */
	border: 1px dotted gray; /* 테두리 스타일 */
}

p {
	font-size:0.9em;  /* 글자 크기 */
	line-height:2.0;  /* 줄간격 */
}

.bluetext {
	color: blue;
}

h2.accent {
	background-color: #222;
	color: #fff;
	padding: 5px;
}

.browntext {
	color: brown;
}

.boldtext {
	font-weight: bold;
}








